.card {
  width: 825px;
  height: 1125px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: hsl({{card.hue}}, 30%, 40%);
  /* border: 45px solid hsl({{card.hue}}, 30%, 50%); */
  /* Just use a black border for now */
  border: 45px solid black;

  color: hsl({{card.hue}}, 30%, 70%);
  font-weight: 600;
  font-size: 50px;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.card .header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: hsl({{card.hue}}, 45%, 45%);
  line-height: 0.9;
}

.card .header .title {
  text-align: center;
  flex: 1;
  margin: 0 20px;
  font-size: 60px;
}

.card .header .vp-hex {
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  background: hsl({{card.hue}}, 30%, 30%);
  padding: 15px;
  min-width: 120px;
  text-align: center;
  font-size: 70px;
}

.card .header .cost-box {
  border: 6px solid hsl({{card.hue}}, 30%, 60%);
  border-radius: 10px;
  padding: 10px;
  aspect-ratio: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  font-size: 70px;
}

.card .apple {
  height: 250px;
  font-size: 150px;
}
.card .content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  font-size: 40px;

  background-image: url({{index assets card.image}});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .content .phase {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: fit-content;
  backdrop-filter: blur(10px);
}

.card .content .phase .numeral {
  font-size: 30px;
  min-width: 40px;
  color: hsl({{card.hue}}, 30%, 70%);
}

.card .footer {
  height: 200px;
  text-align: right;
  padding: 100px;
  padding-right: 50px;
}
